body{
  background-color: #51a082;
  

}
h1{
  color: #ffffff;
}

.parent{
  margin-top: 10px;
  margin-bottom: 0;
  height: 650px;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: #696f80;
  box-shadow: 1px 0px 2px #ffffff;
}

.akan{
  font-size: 40px;
  padding-top: 20px;
  font-weight: bolder;
  font-family: system-ui;
}
.top-form{
  margin-top: 30px;
}
.labels{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: lighter;
  font-size: 20px;
  color: #53866c;
}
.p-text{
  text-align: center;
  margin: 20px;
  padding: 10px;
  color: #548b82;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.q-text{
  color: #548b83;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}
.genders{
  margin-left: 50px;
  color: #548b83;
}
.btn{
  margin-left: 50px;
  margin-top: 20px;
  height: 45px;
  width: 190px;
  border-radius: 20px;
}

#result{
  float: right;
  margin-top: 10px;
  color: #426e58;
  font-size: 28px;
}
.rounded-circle{
  margin-left: 15%;
}
