body{
  background-color: #82c9ae;
  

}
h1{
  color: #ffffff;
}
h4{
  float: right;
}
.parent{
  margin-top: 10px;
  margin-bottom: 0;
  height: 650px;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: #696f80;
  box-shadow: 1px 0px 2px #ffffff;
}

.akan{
  font-size: 40px;
  padding-top: 20px;
  font-weight: bolder;
  font-family: system-ui;
}
.top-form{
  margin-top: 30px;
}
.labels{
  font-family: monospace;
  font-weight: lighter;
  font-size: 20px;
  color: #53866c;
}
.p-text{
  margin: 30px 30px 30px 10px;
  color: #548b82;
  font-size: 20px;
  font-family: 'Khula', fantasy;
  float: left;
}
.q-text{
  color: #548b83;
}
.genders{
  margin-left: 50px;
  color: #548b83;
}
.btn{
  margin-left: 50px;
  margin-top: 20px;
  height: 45px;
  width: 200px;
  border-radius: 20px;
}

#result{
  float: right;
  margin-top: 10px;
  color: #426e58;
  font-size: 28px;
}
.rounded-circle{
  margin-left: 15%;
}
